body{
    background: black;
    height: 400vh;
}

::-webkit-scrollbar{
    width: 20px;
}

::-webkit-scrollbar-track{
    background: #ce1d4a;
}

::-webkit-scrollbar-thumb{
    background: #000000;
}
/* header */

.header{
    text-align: center;
}

#banner{
    width: 10%;
    width: 400px;
}

img{
    max-width: 640px;
    transform: translateY(opx);
    animation: float 5s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0px);
    }
}

.margin{ 
    margin: 10%;
    padding: 10 10 10 10;
        
}

ul{
    display: flex;
    justify-content: space-between;
    background: #ce1d4a;
}

nav ul li {
    list-style-type: none;
}

a{
    font-size: 50px;
    color: aliceblue;
    text-transform: uppercase;
    text-decoration: none;

}

/* main */

main{
    color: aliceblue;
}