* {
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    background: black;
    height: 400vh;
}

::-webkit-scrollbar{
    width: 20px;
}

::-webkit-scrollbar-track{
    background: #ce1d4a;
}

::-webkit-scrollbar-thumb{
    background: #000000;
}

/* header */

.logogames {
    width: 190px;  
}


 nav .logogames {
    max-width: 640px;
    transform: translateY(opx);
    animation: float 5s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(-30px);
    }

    100% {
        transform: translateX(0px);
    }
}

nav ul{
    list-style: none;
    align-items: block;
    overflow: hidden;
    position: fixed;
    justify-content: space-around;
    background-color: #ce1d4a;
    height: 150px;     
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

nav a{
    float: right;
    display: block;
    padding: 10px 16px;
    margin-right: 5%;
    margin-top: 2rem;
   
}

nav .logogames {
    float: left;
    display: block;
    margin-left: 10%;
   
}

a{
    font-size: 50px;
    color: aliceblue;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}

nav a:hover{
   transition: 0.5s;
   background-color: #000000;
   color: #ce1d4a;
   
}

/* main */

main{
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

section{
    min-height: 100vh;
    padding-top: 2rem;
    margin-top: 10% 10%;
}

#sobre {
    background-color: #ce1d4a;
}

.titulos {
    clear: left;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    margin-top: 200px;
}

.descrition-sobre {
    margin-left: 30%;
    margin-top: 50px;
    margin-right: 20%;


}

.sobre-img {
    width: 220px;
    margin-left: 10%;
    float: left;
    
}

#games {
    background-color: #000000;
}

.discrition-batatinha-frita{
    margin-right: 40%;
    margin-top: 50px;
    margin-left: 15%;
}

.batatinha-frita-img {
    width: 370px;
    float: right;
    margin-right: 10%;
}

.discrition-colmeia-de-acucar{
    margin-left: 30%;
    margin-top: 50px;
    margin-right: 20%;
}

.colmeia-img{
    width: 170px;   
    margin-left: 10%;
    float: left;
}

.discrition-cabodeguerra{
    margin-right: 30%;
    margin-top: 50px;
    margin-left: 20%;
}

.cabodeguerra-img{
    width: 300px;
    float: right;
}
.discrition-gude{
    margin-left: 30%;
    margin-top: 50px;
    margin-right: 20%;
}

.bolinhasdegude-img{
    width: 220px;
    margin-left: 10%;
    float: left;
}

.discrition-pontecristal{
    margin-right: 30%;
    margin-top: 50px;
    margin-left: 20%;
}
.pontecristal-img{
    width: 300px;
    float: right;
}
.discrition-jogodalula{
    margin-left: 30%;
    margin-top: 50px;
    margin-right: 20%;
}
.jogodalula-img{
    width: 200px;
    margin-left: 10%;
    float: left;
}

#contato {
    background-color: #ce1d4a;
}

/* footer */



