* {
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    background: black;
    height: 400vh;
}

::-webkit-scrollbar{
    width: 20px;
}

::-webkit-scrollbar-track{
    background: #ce1d4a;
}

::-webkit-scrollbar-thumb{
    background: #000000;
}

/* header */

.logogames {
    width: 100px;
    width: 12%;
}

 
 nav .logogames {
    max-width: 640px;
    transform: translateY(opx);
    animation: float 5s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(-30px);
    }

    100% {
        transform: translateX(0px);
    }
}

nav ul{
    list-style: none;
    align-items: block;
    overflow: hidden;
    position: fixed;
    justify-content: space-around;
    background-color: #ce1d4a;
    height: 175px;     
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

nav a{
    float: right;
    display: block;
    padding: 10px 16px;
    margin-right: 5%;
    margin-top: 2rem;
   
}

nav .logogames {
    float: left;
    display: block;
    margin-left: 10%;
   
}

a{
    font-size: 50px;
    color: aliceblue;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}

nav a:hover{
   transition: 0.5s;
   background-color: #000000;
   color: #ce1d4a;
   border: groove 5px #ffffff;
   border-radius: 15px;
   
}

/* main */

.main{
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

section{
    min-height: 100vh;
    padding-top: 2rem;
    margin-top: 10% 10%;
}

#sobre {
    background-color: #ce1d4a;
}

h1 {
    margin-top: 150px;
    clear: left;
    text-align: center;
    font-size: 40px;
}

.discription-sobre {
    margin-left: 35%;
    margin-top: 75px;
    margin-right: 10%;
    font-size: 20px;
    background-color: #000000;
    padding: 30px;
    border: groove 5px #ffffff;
    border-radius: 15px;
}

.sobre-img {
    width: 350px;
    margin-left: 10%;
    float: left;
    
}

#games {
    background-color: #000000;
}

h2 {
    margin-top: 140px;
    clear: left;
    text-align: center;
    font-size: 40px;
}

.discription-batatinha-frita{
    margin-right: 40%;
    margin-top: 50px;
    margin-left: 10%;
    font-size: 20px;
    background-color: #ce1d4a;
    padding: 20px;
    border: groove 5px #ffffff;
    border-radius: 15px;
}

.batatinha-frita-img {
    width: 410px;
    float: right;
    margin-right: 10%;
    margin-top: 80px;
}

h3 {
    margin-top: 90px;
    clear: left;
    text-align: center;
    font-size: 40px;
}
.discription-colmeia-de-acucar{
    margin-left: 25%;
    margin-top: 80px;
    margin-right: 10%;
    font-size: 20px;
    background-color: #ce1d4a;
    padding: 30px;
    border: groove 5px #ffffff;
    border-radius: 15px;
}

.colmeia-img{
    width: 200px;   
    margin-left: 10%;
    float: left;
}

h4 {
    margin-top: 140px;
    clear: left;
    text-align: center;
    font-size: 40px;
}

.discription-cabodeguerra{
    margin-right: 40%;
    margin-top: 62px;
    margin-left: 10%;
    font-size: 20px;
    background-color: #ce1d4a;
    padding: 25px;
    border: groove 5px #ffffff;
    border-radius: 15px;
}

.cabodeguerra-img{
    width: 390px;
    float: right;
    margin-right: 10%;
    margin-top: 66px;
}

h5 {
    margin-top: 95px;
    clear: left;
    text-align: center;
    font-size: 40px;
}

.discription-gude{
    margin-left: 32%;
    margin-top: 50px;
    margin-right: 10%;
    font-size: 20px;
    background-color: #ce1d4a;
    padding: 30px;
    border: groove 5px #ffffff;
    border-radius: 15px;
}

.bolinhasdegude-img{
    width: 270px;   
    margin-left: 10%;
    float: left;
    margin-top: 60px;
}

h6 {
    margin-top: 140px;
    clear: left;
    text-align: center;
    font-size: 40px;
}

.discription-pontecristal{
    margin-right: 33%;
    margin-top: 75px;
    margin-left: 10%;
    font-size: 20px;
    background-color: #ce1d4a;
    padding: 25px;
    border: groove 5px #ffffff;
    border-radius: 15px;
}
.pontecristal-img{
    width: 280px;
    float: right;
    margin-right: 10%;
    margin-top: 5px;
}

.h7 {
    margin-top: 130px;
    clear: left;
    text-align: center;
    font-size: 40px;
}

.discription-jogodalula{
    margin-left: 30%;
    margin-top: 50px;
    margin-right: 10%;
    font-size: 20px;
    background-color: #ce1d4a;
    padding: 20px;
    border: groove 5px #ffffff;
    border-radius: 15px;
}
.jogodalula-img{
    width: 220px;   
    margin-left: 10%;
    float: left;
    margin-top: 60px;
}

/* footer */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 25px;
    background: #ce1d4a;
    margin-top: 10%;
    
}

.navbar{
    margin-top: 200px;
}

.box{
    width: 65px;
    height: 68px;
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 0.6rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all .4s ease;
}
.box:hover{
    width: 200px;
    background: #c32aa3;
    border-radius: 35px;
    color: #fff;
    box-shadow: 0 0 50px #b315917c;
}
.box:nth-child(1):hover{
    background: #3f729b ;
    box-shadow: 0 0 50px #25d3657e;
}
.box:nth-child(2):hover{
    background: #25d366;
    box-shadow: 0 0 50px #25d3657e;
}
.box:nth-child(3):hover{
    background: #3b5998;
    box-shadow: 0 0 50px #1da0f280;
}

.box:nth-child(4):hover{
    background: #1da1f2;
    box-shadow: 0 0 50px #1da0f280;
}

.box:nth-child(5):hover{
    background: #000000;
    box-shadow: 0 0 50px #f0f0f080;
}
.navbar p{
    transform: translate(60px);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.box .icon{
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    margin-right: 10px;
    transition: all .4s ease;
}
.instagram{
    background-color: #c32aa3;
}
.whatsapp{
    background-color: #25d366;
}
.facebook{
    background-color: #1877f2;
}
.twitter{
    background-color: #1da1f2;
}
.box:hover .icon{
    background: #fff;
    color: #3b3b3b;
    box-shadow: 0 0 20px rgba(0,0,0,0.26);
}